@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-balthazar
}

/* Header Section */
.nav-item {
    @apply text-primary uppercase tracking-wide text-base py-2 pl-3 pr-4 md:p-0 block rounded md:rounded-none hover:text-white md:hover:text-primary/80 hover:bg-primary md:hover:bg-transparent
}


/* Section */
.section-title {
    @apply uppercase text-center text-2xl md:text-4xl text-primary md:leading-[42px] tracking-[0.25rem] 
}
.section-description {
    @apply text-center text-sm md:text-lg text-primary leading-4 tracking-widest
}


/* Detail Book Section */
.book-author {
    @apply uppercase text-sm text-primary md:leading-[20px] tracking-[2px]
}
.book-title {
    @apply uppercase text-2xl text-primary tracking-[1px]
}
.book-category {
    @apply uppercase text-base text-primary md:leading-[20px] tracking-[2px]
}
.book-genres {
    @apply text-sm text-primary leading-4 tracking-widest
}
.book-time {
    @apply text-xs text-primary tracking-[1px]
}
.book-description {
    @apply text-justify text-sm text-primary md:leading-[20px] tracking-[2px]
}


/* List Book Section */
.list-author {
    @apply uppercase text-center text-sm text-primary md:leading-[20px] tracking-[2px]
}
.list-title {
    @apply uppercase text-center text-2xl text-primary tracking-[1px]
}
.list-time {
    @apply uppercase text-center text-xs text-primary tracking-[1px]
}


/* Footer Section */
.footer-title {
    @apply uppercase text-left md:text-center text-xl lg:text-2xl text-white tracking-[0.25rem] 
}
.footer-description {
    @apply text-left md:text-center text-lg text-white
}


/* Input Placeholder */
.newsletter::placeholder {
    @apply italic text-white
}
.searching::placeholder {
    @apply text-primary/60 tracking-[2px]
}